---
import Icon from '../Icon/Icon.astro';
import ThemeToggle from '../ThemeToggle/ThemeToggle.astro';
import { textLinks, iconLinks } from './navConstants';
---

<div id="menu-content" hidden>
  <ul class="nav-items">
    {
      textLinks.map(({ label, href }) => (
        <li>
          <a
            aria-current={Astro.url.pathname === href}
            class:list={[
              'link',
              {
                active:
                  Astro.url.pathname === href ||
                  (href !== '/' && Astro.url.pathname.startsWith(href)),
              },
            ]}
            href={href}
          >
            {label}
          </a>
        </li>
      ))
    }
  </ul>
  
  <div class="menu-footer">
    <div class="socials">
      {
        iconLinks.map(({ href, icon, label }) => (
          <a href={href} class="social" rel="noopener noreferrer" target='_blank'>
            <span class="sr-only">{label}</span>
            <Icon icon={icon} />
          </a>
        ))
      }
    </div>

    <div class="theme-toggle">
      <ThemeToggle />
    </div>
  </div>
</div>
